tr
	{mso-height-source:auto;}
col
	{mso-width-source:auto;}
br
	{mso-data-placement:same-cell;}
.style203
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-style-name:Hipervínculo;
	mso-style-id:8;}
a:link
	{color:#0563C1;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
a:visited
	{color:#954F72;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;}
.style0
	{mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	white-space:nowrap;
	mso-rotate:0;
	mso-background-source:auto;
	mso-pattern:auto;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	border:none;
	mso-protection:locked visible;
	mso-style-name:Normal;
	mso-style-id:0;}
td
	{mso-style-parent:style0;
	padding:0px;
	mso-ignore:padding;
	color:black;
	font-size:11.0pt;
	font-weight:400;
	font-style:normal;
	text-decoration:none;
	font-family:Calibri, sans-serif;
	mso-font-charset:0;
	mso-number-format:General;
	text-align:general;
	vertical-align:bottom;
	border:none;
	mso-background-source:auto;
	mso-pattern:auto;
	mso-protection:locked visible;
	white-space:nowrap;
	mso-rotate:0;}
.xl65
	{mso-style-parent:style0;
	text-align:center;}
.xl66
	{mso-style-parent:style0;
	background:#833C0C;
	mso-pattern:black none;}
.xl67
	{mso-style-parent:style0;
	text-align:center;
	background:#833C0C;
	mso-pattern:black none;}
.xl68
	{mso-style-parent:style0;
	color:#DDEBF7;
	font-size:34.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:top;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl69
	{mso-style-parent:style0;
	color:#DDEBF7;
	font-size:34.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl70
	{mso-style-parent:style0;
	color:#DDEBF7;
	font-size:18.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl71
	{mso-style-parent:style0;
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl72
	{mso-style-parent:style0;
	color:yellow;
	font-size:12.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:top;
	border:.5pt solid windowtext;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl73
	{mso-style-parent:style0;
	color:#00B0F0;
	font-size:12.0pt;
	font-family:Garamond, serif;
	mso-font-charset:0;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;}
.xl74
	{mso-style-parent:style203;
	color:#0563C1;
	text-decoration:underline;
	text-underline-style:single;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;}
.xl75
	{mso-style-parent:style0;
	color:#F2F2F2;
	font-size:16.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl76
	{mso-style-parent:style203;
	color:#F8CBAD;
	font-size:18.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	vertical-align:middle;
	border:1.0pt solid windowtext;
	background:#002060;
	mso-pattern:black none;}
.xl77
	{mso-style-parent:style203;
	color:#FFE699;
	font-size:16.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	text-align:left;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;}
.xl78
	{mso-style-parent:style0;
	color:white;
	font-size:12.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl79
	{mso-style-parent:style0;
	color:white;
	font-size:16.0pt;
	font-weight:700;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:left;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;
	white-space:normal;}
.xl80
	{mso-style-parent:style0;
	color:yellow;
	font-size:18.0pt;
	font-weight:700;
	text-decoration:underline;
	text-underline-style:single;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;}
.xl81
	{mso-style-parent:style0;
	color:yellow;
	font-size:18.0pt;
	font-family:Garamond, serif;
	mso-font-charset:0;
	text-align:center;
	vertical-align:middle;
	background:#833C0C;
	mso-pattern:black none;}
.xl82
	{mso-style-parent:style203;
	color:#FFE699;
	font-size:16.0pt;
	font-weight:700;
	font-style:italic;
	text-decoration:underline;
	text-underline-style:single;
	text-align:center;
	background:#833C0C;
	mso-pattern:black none;}
